[submodule "CustomModules/ArgumentCompleters"]
	path = CustomModules/ArgumentCompleters
	url = git@github.com:MatejKafka/PowerShell-ArgumentCompleters.git

[submodule "CustomModules/ZLocation"]
	path = ZLocation
	url = git@github.com:MatejKafka/ZLocation.git
[submodule "CustomModules/Write-HostColor"]
	path = CustomModules/Write-HostColor
	url = git@github.com:MatejKafka/Write-HostColor.git
